<p id="notice"><%= notice %></p>

<p>
  <strong>Feeling:</strong>
  <%= @entry.feeling %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @entry.blurb %>
</p>

<p>
  <strong>Blogger:</strong>
  <%= @entry.blogger.email %>
</p>

<p>
  <strong>Tags:</strong>
  <% @entry.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blogger_entry_path(current_blogger, @entry) %> |
<%= link_to 'Back', entries_path %>
