<p id="notice"><%= notice %></p>

<p>
  <strong>Feeling:</strong>
  <%= @entry.feeling %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @entry.blurb %>
</p>
<p>
  <strong>Tags:</strong>
  <% @entry.tag_list.each do |t| %>
    <%= t %>
 <% end %>
</p>

<% if can? :update, @entry %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<% end %>
<%= link_to 'Back', entries_path %>
