<h1>Welcome <%= @blogger %></h1>
<% @entries.each do |ent| %>
	Feeling:
	<%= ent.feeling %><br>
	<p><%= ent.blurb %></p>
    <strong>Tags:</strong>
    <% ent.tags.each do |tag| %>
        <%= tag.name %>
    <% end %>
	<%= ent.created_at %> by <%= @blogger %>
	<br>
	<% end %>
<br><br>