<h1>Welcome to Blurby!</h1>

<% @latest_posts.each do |ent| %>
    Feeling:
    <%= ent.feeling %><br>
    <p><%= ent.blurb %> <%= link_to "MORE", entry_path(id: ent.id) %></p>
    <strong>Tags:</strong>
    <% ent.tags.each do |tag| %>
        <%= tag.name %>
    <% end %>
    <%= ent.created_at %> by <%= link_to "USER #{ent.user_id}", user_entries_path( user_id: ent.user_id) %>
    <br>
<% end %>